body {
  background-color: #fdfdfd !important;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#rb-name {
  font-size: 200%;
}

#rb-resume {
  font-size: 175%;
}
